.search{
    margin-left:10px;
}
.name{
margin-left: 5px;
}
.add{
    margin-left:20px;
}
.sub{
    margin-left:110px;

}
.h{
margin-left:5px;
}
.s{
    margin-right:5px;
    margin-left:20px
}
.red{
        text-decoration: none;
        font-size: 12px;
        padding: 2px 6px 2px 6px;
        font-weight:700;
        border-radius: 4px;
}
.input-group{
margin:5px;
}
.item{
    display: inherit;

}
.submit{
    margin: auto;
    margin-top: 6px;
}