.search{
    margin-left:10px;
}
.name{
margin-left: 5px;
}
.add{
    margin-left:20px;
}
.sub{
    margin-left:110px;

}
span{
    font-size: 12px;
}
.h{
margin-left:5px;
}
.e{
    color: #fff;
}
.s{
    margin-right:5px;
    margin-left:20px
}
.x {
    margin-left: 5px;
}
.red{
        text-decoration: none;
        font-size: 12px;
        padding: 2px 6px 2px 6px;
        font-weight:700;
        border-radius: 4px;
}
.input-group{
margin:5px;
}
.item{
    display: inherit;
    margin-left: -20px;
}
.submit{
    margin: auto;
    margin-top: 6px;
    display: flex;
    margin-left: -25px;
  
}
@media only screen and (max-width: 850px){
    
  }
  
  @media only screen and (max-width: 750px){
    
  }
  @media only screen and (max-width: 650px){
   
    .submit{
        /* display: flex; */
    }
    .txt{
        width:300px;
    }
    .tim {
        color: #000;
    }
    .e{
     
        margin-left: 5px;
        width: 70px;
    }
    .x{
        width: 75px;
    }
  }