.Footer {
    background-color: rgba(54,39,93,255);
}
.FooterHeader{
    padding: 60px 60px;
  display: contents;
    
    bottom: 0;
    width: 100%;
}
.email {
    background-color: #fff;
}
.input-group1{
    width: 400px;
}
.Box {
    padding: 80px 60px;
  
 
  bottom: 0;
  width: 100%;
  
   
  @media (max-width: 1000px) {
    padding: 70px 30px;
  }
;
}
h1 {
    color: #c5b8b9;
    font-size: 24px;
    font-weight: 400;
    margin-left: 0;
}
h3{
    font-size: 26px;;
    font-weight: 400;
}
h2 ,h3, p {
    color: #fff;
}
.Container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1000px;
    margin: 0 auto;
}

.Column {
    display: flex;
  flex-direction: column;
  text-align: left;
  margin-left: 60px;
}
.Row{
    display: grid;
  grid-template-columns: repeat(auto-fill, 
                         minmax(185px, 1fr));
  grid-gap: 20px;
   
  @media (max-width: 1000px) {
    grid-template-columns: repeat(auto-fill, 
                           minmax(200px, 1fr));
}

}
.RowHeader{
    display: grid;
  grid-template-columns: repeat(auto-fill, 
                         minmax(140px, 1fr));
  margin-top: 60px;
   
  @media (max-width: 1000px) {
    grid-template-columns: repeat(auto-fill, 
                           minmax(200px, 1fr));
}
}
h2{
    font-size:18px;
    font-weight: 500;
}

a{

    color: #c5b8b9;
  margin-bottom: 5px;
  font-size: 15px;
  text-decoration: none;
}
a:hover {
    text-decoration: none;
    color: #fff;
    transition: 200ms ease-in;
}